@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@400;700&family=Poppins:wght@300;400;600&display=swap');

/* Utility class to remove underlines from links */
.no-underline {
  text-decoration: none;
}

/* Optional: make all links inherit color and no underline by default */
a {
  text-decoration: none;
  color: inherit;
}
